@import url('./index.css');

*{
    margin: 100;
    padding:0;
    box-sizing: border-box;
}

/*------------------------------------------CARD CONTAINER----------------------------------------------*/

.card_container {
    display:flex;
    flex-direction: column;
    width: 320px;
    border-radius: 1rem;
    background-color: rgba(190, 188, 188, 0.26);
}

/*-----------------------------------------CARD CONTAINER TOP----------------------------------------------*/

.card_container_top img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/*---------------------------------------CARD CONTAINER CENTER----------------------------------------------*/

.card_container_center{
    padding:20px;
}

.card_container_center-section{  
    color: var(--span-text-color);
    background-color: rgb(49,143,240);
    padding:3px 8px;
    border-radius: 10px;
}

.card_container_center-title{
    font-size: var(--big-size);
    margin:10px 0px;
}

/*---------------------------------------CARD CONTAINER BOTTOM----------------------------------------------*/

.card_container_bottom{
    display:flex;
    text-align: left;
}
.card_container_bottom-pfp {
    padding:20px;
    width:80px; 
    
}

.card_container_bottom-pfp img{
   width: 100%;
} 

.avatar_name{
    font-size:var(--avatar-text-size);
    margin: 0;
    padding-top: 20px;
}

.message_box {
    color: grey;
}